/* Write your global styles here, in PostCSS syntax */

@import 'typeface-et-book';

@tailwind base;

html {
	/* font */
	--font-sans: 'Gill Sans', sans;
	--font-serif: 'ET Book', serif;

}

@tailwind components;

@tailwind utilities;
